<h2>Editorials<%= casein_pagination_details @editorials %></h2>

<%= render :partial => 'casein/editorials/table', :locals => { :editorials => @editorials } %>

<div class="text-center">
	<%= will_paginate @editorials %>
</div>

<%= content_for :sidebar do %>

	<li><%= link_to "#{casein_show_icon "plus-sign"}Add a new editorial".html_safe, new_casein_editorial_path %></li>

<% end %>